<h1>Sign up</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>
  <div class="container">
    <h1 class="title">Bootstrap実装</h1>
      <nav class="menu">
        <ul class="row">
          <li class="col-md-4"><%= f.label :name %></li>
          <li class="col-md-4"><%= f.text_field :name %></li>
        </ul>
        <ul class="row">
          <li class="col-md-4"><%= f.label :email %></li>
          <li class="col-md-4"><%= f.email_field :email %></li>
        </ul>
        <ul class="row">
          <li class="col-md-4"><%= f.label :password %></li>
          <li class="col-md-4"><%= f.password_field :password %></li>
        </ul>
        <ul class="row">
          <li class="col-md-4"><%= f.label :password_confirmation %></li>
          <li class="col-md-4"><%= f.password_field :password_confirmation %></li>
        </ul>
          <%= f.submit "Create my account" %>
      </nav>
  </div>
<% end %>
